/* body{
} */

.blur{
  filter:blur(8px);
}
.bg {
  /* The image used */
  background-image: url("img/background.jpg");
  position:absolute;
  /* Full height */
  height: 100vh;
  width:100vw;
  z-index:-1;
  height: 100%;
  box-sizing: border-box; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
  }

.nav-link {
  font-size: large;
}

#vierkant{
  background-color: white;
  border: 5px solid black;
  padding: 5px;
  width: 50%;
  margin: 5% auto 5% auto;
  overflow: hidden;
}
.myClass {
  text-align: center;
}
.wrapper{
  clear: both;
}

.meubel-links-second{
  float:none
}
.meubel-links{
  margin-left: 20% ;
  float: left;
  max-width: 86%;
}
.meubel {
  width: 150px;
  clear: both;
  height: 200px;
}

.buttoncolor {
  background-color: rgb(193, 186, 231);
  font-size:0.875em;
  margin-left: auto;
  height: 110%;
  width: auto;
  font-size: 1em;
}


.hide{
  display:none;
}

.modal-show{
  width: 500px;
  height: auto;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%) translateY(-60%);
  padding: 0;
  border-radius: 10px;
  outline-color: black;
}

.modal-show span.close {
  position: absolute;
  top: 1px;
  right: 7px;
  color: black;
  cursor: pointer;
  user-select: none;
}

.modal-show span:hover{
  color: black;
}